@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; /* Ensure the gradient covers the entire viewport */

  background-image: linear-gradient(to left bottom, #ea4335, #f23374, #dc49af, #a66bdd, #4285f4);
}
