@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 2em;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  border-radius: 15px;
}

.listOfPages {
  display: flex;
  gap: 2.5em;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.listOfPages li {
  padding: 0;
  margin: 0;
  font-family: "DynaPuff", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.15em; /* Add space between alphabets */
}

.listOfPages a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding-bottom: 3px;
  transition: all 0.3s ease;
}

.listOfPages a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.listOfPages a:hover {
  color: white;
}

.listOfPages a:hover::after {
  width: 100%;
}

.logo {
  width: 90px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.anchor {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listOfPages li a .icon {
  width: auto; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 0.5em; /* Space between the icon and text */
  vertical-align: middle; /* Align the icon vertically with the text */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.listOfPages li a:hover .icon {
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
}
